.App {
  text-align: center;
}

.MuiFormControl-root {
  width: 100%;
}

.MuiCardContent-root:last-child {
  padding-bottom: 8px!important;
}

.MuiBox-root-519, .MuiBox-root-609, .MuiBox-root-615, .MuiBox-root-621, .MuiBox-root-627, .MuiBox-root-633 {
  padding: 0!important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
